{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>

     <!-- Favicons -->
  <link href="{% static 'img/logo.png' %}" rel="icon">
  
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
    <script src="https://kit.fontawesome.com/a81368914c.js"></script>

  </head>
  
  <body>
    <div class="container">
      <div class="img">
        <img src="{% static 'img/interview.svg' %}" />
      </div>
    
          <div class="login-container">

          <form method="POST" action="" novalidate="">
                <img class="avator" src="{% static 'img/resume.svg' %}" />
                <h2>Sign Up</h2>

            {% csrf_token %}

          <div class="input-div" one>
            <div class="i">
              <i class="fas fa-envelope"></i>
            </div>
            {{form.username}}
          </div>

          <!-- <div class="input-div" one>
            <div class="i">
              <i class="fas fa-user"></i>
            </div>
            {{form.email}}
          </div> -->

          <div class="input-div" two>
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            {{form.password1}}
          </div>

          <div class="input-div" two>
            <div class="i">
              <i class="fas fa-lock"></i>
            </div>
            {{form.password2}}
          </div>

          <div class="errors">
          <font color="red">{{form.errors}} </font>
      </div>

          <input type="submit" class="btn" value="Signup" />
          <div class="d-flex justify-content-center links">
             <a href="{% url 'login' %}" class="ml-2 redirect">Already have an account? Login</a>
          </div>
        </form>
      </div>


    </div>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>

<!--       
      <div class="container h-100">
    <div class="d-flex justify-content-center h-200">
      <div class="user_card">
        <div class="d-flex justify-content-center">
          <img class="avator" src="{% static 'img/resume.svg' %}" />
          <h2 id="form-title">SignUp</h2>
        </div>
        <div class="d-flex justify-content-center form_container">

          <form method="POST" action="">
            {% csrf_token %}
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"> Username</i></span>
              </div>
              {{form.username}}
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-envelope-square"> Email</i></span>
              </div>
              {{form.email}}
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"> Password</i></span>
              </div>
              {{form.password1}}
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"> Confirm Password</i></span>
              </div>
              {{form.password2}}
            </div>

              <div class="d-flex justify-content-center mt-3 login_container">
              <input class="btn btn-success" type="submit" value="Register">
              </div>

          </form>
        </div>
        <div class="errors">
          {{form.errors}}
        </div>
        
        
        <div class="mt-4 bottom">
          <div class="d-flex justify-content-center links">
             <a href="{% url 'login' %}" class="ml-2 redirect">Already have an account? Login</a>
          </div>
        </div>
      </div>
    </div>
  </div> -->


